/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .container{
  display: inline-flex;
}

.answer {
  background-color: rgb(255, 250, 202);
  text-align: justify;
}

.answer::before {
  height: 65px;
  content:' ';
  position: absolute;
  top: 10;
  width: 8px;
}
.answer::before {
  left: 4px;
  background-color: rgb(95, 95, 95);
}

.question::before {
  height: 65px;
  content:' ';
  position: absolute;
  top: 5;
  width: 8px;
}
.question::before {
  left: 4px;
  background-color: rgb(95, 95, 95);
}
